fastapi
uvicorn
python-multipart
sentence-transformers
transformers
torch>=2.4
nltk
scikit-learn
pdfplumber
python-docx
pandas
numpy
easyocr
pdf2image
python-jose[cryptography]
passlib[bcrypt]
opencv-python
paddleocr
